<h1 class="text-center mb-5">{{titulo}}</h1>
<form #f="ngForm">
    <div class="form-group row">
        <label for="nombre_finca" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nombre_finca" ngModel required [(ngModel)]="finca.nombre_finca">
        </div>
    </div>
    <div class="col-9 text-center my-5">
        <button class="btn btn-primary" role="button" (click)='create()' [disabled]="f.invalid">Crear</button>
    </div>
</form>