<h1 class="text-center">{{titulo}}</h1>
<form #inquilinoForm="ngForm">
    <div class="form-group row">
        <label for="dniInquilino" class="col-form-label col-sm-2">DNI</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="dniInquilino" [(ngModel)]="inquilino.dni_inquilino" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="nombreInquilino" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nombreInquilino" [(ngModel)]="inquilino.nombre_inquilino" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="apellidosInquilino" class="col-form-label col-sm-2">Apellidos</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="apellidosInquilino" [(ngModel)]="inquilino.apellidos_inquilino" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="tipo_viaInquilino" class="col-form-label col-sm-2">Tipo de Via</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="tipo_viaInquilino" [(ngModel)]="inquilino.tipo_via_inquilino" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="direccionInquilino" class="col-form-label col-sm-2">Dirección</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="direccionInquilino" [(ngModel)]="inquilino.direccion_inquilino" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="numeroInquilino" class="col-form-label col-sm-2">Número</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="numeroInquilino" [(ngModel)]="inquilino.numero_inquilino" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="pisoInquilino" class="col-form-label col-sm-2">Piso</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="pisoInquilino" [(ngModel)]="inquilino.piso_inquilino" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="letraInquilino" class="col-form-label col-sm-2">Letra</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="letraInquilino" [(ngModel)]="inquilino.letra_inquilino">
        </div>
    </div>
    <div class="form-group row">
        <label for="movilInquilino" class="col-form-label col-sm-2">Móvil</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="movilInquilino" [(ngModel)]="inquilino.movil_inquilino">
        </div>
    </div>
    <div class="form-group row">
        <label for="telefonoInquilino" class="col-form-label col-sm-2">Teléfono</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="telefonoInquilino" [(ngModel)]="inquilino.telefono_inquilino">
        </div>
    </div>
    <div class="form-group row">
        <label for="emailInquilino" class="col-form-label col-sm-2">Email </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="emailInquilino" [(ngModel)]="inquilino.email_inquilino">
        </div>
    </div>
    <div class="form-group row">
        <label for="ccInquilino" class="col-form-label col-sm-2">Cuenta Bancaria</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ccInquilino" [(ngModel)]="inquilino.cc_inquilino">
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary my-3" role="button" (click)='create()' [disabled]="inquilinoForm.invalid">Crear</button>
    </div>
</form>