<h1 class="text-center">{{titulo}}</h1>
<form #propietarioForm="ngForm">
    <div class="form-group row">
        <label for="tipo_persona_propietario" class="col-form-label col-sm-2">Tipo Documento</label>
        <div class="col-sm-6">
            <select name="tipo_persona_propietario" class="form-select" [(ngModel)]="propietario.tipo_persona_propietario" ngModel required>
              <option value="true" selected>DNI</option>
              <option value="false">CIF</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="dniPropietario" class="col-form-label col-sm-2">DNI</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="dni_propietario" [(ngModel)]="propietario.dni_propietario" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="nombre_propietario" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nombre_propietario" [(ngModel)]="propietario.nombre_propietario" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="apellidos_propietario" class="col-form-label col-sm-2">Apellidos</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="apellidos_propietario" [(ngModel)]="propietario.apellidos_propietario" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="tipo_via_propietario" class="col-form-label col-sm-2">Tipo de Via</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="tipo_via_propietario" [(ngModel)]="propietario.tipo_via_propietario" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="direccion_propietario" class="col-form-label col-sm-2">Dirección</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="direccion_propietario" [(ngModel)]="propietario.direccion_propietario" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="numero_propietario" class="col-form-label col-sm-2">Número</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="numero_propietario" [(ngModel)]="propietario.numero_propietario" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="piso_propietario" class="col-form-label col-sm-2">Piso</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="piso_propietario" [(ngModel)]="propietario.piso_propietario" ngModel required>
        </div>
    </div>
    <div class="form-group row">
        <label for="letra_propietario" class="col-form-label col-sm-2">Letra</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="letra_propietario" [(ngModel)]="propietario.letra_propietario">
        </div>
    </div>
    <div class="form-group row">
        <label for="movil_propietario" class="col-form-label col-sm-2">Móvil</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="movil_propietario" [(ngModel)]="propietario.movil_propietario">
        </div>
    </div>
    <div class="form-group row">
        <label for="telefono_propietario" class="col-form-label col-sm-2">Teléfono</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="telefono_propietario" [(ngModel)]="propietario.telefono_propietario">
        </div>
    </div>
    <div class="form-group row">
        <label for="email_propietario" class="col-form-label col-sm-2">Email </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email_propietario" [(ngModel)]="propietario.email_propietario">
        </div>
    </div>
    <div class="form-group row">
        <label for="cc_propietario" class="col-form-label col-sm-2">Cuenta Bancaria</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="cc_propietario" [(ngModel)]="propietario.cc_propietario">
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary my-3" role="button" (click)='create()' [disabled]="propietarioForm.invalid">Crear</button>
    </div>

</form>